
.only-mobile {
	display: block;
}

.not-mobile {
	display: none;
}

.only-tablet {
	display: none;
}

.only-desktop {
	display: none;
}

.pull-right {
	float: right;
}

.domain:before {content:"@";}


@media screen and (min-width: $mobile) {
	.only-mobile {
		display: none;
	}

	.not-mobile {
		display: block;
	}
	
	.only-tablet {
		display: block;
	}

}

