

.full-width {
	float: left;
	width: 100%;

	&.black {
		background-color: $black;
	}
	&.green {
		background-color: $green;
	}
	&.off-green {
		background-color: $mutedGreen;
	}
}

.wrapper {
	max-width: 1140px;

	margin: 0 auto;
	padding: 0 1em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.only-mobile {
	display: block;
}

.only-tablet {
	display: none;
}

.only-desktop {
	display: none;
}
body {
	content: "mobile";
}



@media screen and (min-width: $mobile) {
	body {
		content: "above mobile";
	}
	.only-mobile {
		display: none;
	}
	
	.only-tablet {
		display: block;
	}

}

