$height: $rem*5.7;





.header-bar {
	position: absolute;
	top: 0;
	height: $height;

	overflow: hidden;

	color: $white;
	text-align: center;

	&.open {
		height: auto;
		padding: 0 0 1em;
	}

}
.logo {

	float: left;
	width: 100%;
	margin: 0;

	font-size: 1.31em;
	font-weight: 600;
	line-height: $height;
	text-align: center;
}

.navigation {
	float: left;
	width: 100%;

	a {
		display: block;
		float: left;
		width: 100%;
		height: $touchTarget;
		line-height: $touchTarget;
		text-transform: capitalize;
		text-decoration: none;

		& + a {
			margin: 1em 0 0;
		}

		&:hover {
			background: rgba($white, 0.1);
		}
	}
}

.user-actions {
	float: left;
	width: 100%;
	padding: $unit*2 0 0;

	.login-button,
	.sign-in-button {
		float: left;
		width: 100%;
	}

	.sign-in-button {
		margin: 0.5em 0 0;
	}
}

.menu-dropdown-button {
	position: absolute;
	top: ($height - $touchTarget) / 2;
	right: 0;

}

@media screen and (min-width: $mobile) {
	
	.header-bar {
		position: relative;
		top: auto;
		&.open {
			padding: 0;
		}
	}
	
	.logo {
		width: auto;
	}

	.user-actions {
		float: right;
		width: auto;
		margin: ($height - $touchTarget) / 2;
		padding: 0;

		.login-button,
		.sign-in-button {
			width: auto;
		}

		.sign-in-button {
			margin: 0 0 0 $unit;
		}
	}

	.navigation {

		float: left;
		width: auto;
		height: 100%;
		margin: 0 0 0 $unit*4;

		a {
			display: inline;
			width: auto;
			height: auto;
			line-height: $height;

			& + a {
				margin: 0 0 0 1em;
			}

			&:hover {
				background-color: transparent;
			}
		}
	}
}