
.full-width {
	float: left;
	width: 100%;

	&.black {
		background-color: $black;
		color: $white;
	}
	&.green {
		background-color: $green;
		color: $white;
	}
	&.off-green {
		background-color: $mutedGreen;
		border-bottom: 1px solid rgba($green, 0.25);
	}




}

.padded {
	padding: $unit*4 0;

	&.thin {
		padding: $unit 0;
	}

	&.fat {
		padding: $unit*8 0;
	}
}

.wrapper {
	max-width: 1140px;

	margin: 0 auto;
	padding: 0 1em;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

$column: 8.3333%;

.row {
	float: left;
	width: 100%;
}

[class^='col-'] {
	float: left;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@media screen and (min-width: $mobile) {

	[class^='col-'] + [class^='col-'] {
		padding: 0 0 0 $unit;
	}

	.reverse {

		[class^='col-']{
			float: right;
			& + [class^='col-'] {
				padding: 0 $unit 0 0;
			}
		}
	}

	.col-1 {
		width: $column;
	}

	.col-2 {
		width: $column*2;
	}
	.col-3 {
		width: $column*3;
	}

	.col-4 {
		width: $column*4;
	}

	.col-5 {
		width: $column*5;
	}
	.col-6 {
		width: $column*6;
	}
	.col-7 {
		width: $column*7;
	}
	.col-8 {
		width: $column*8;
	}
	.col-9 {
		width: $column*9;
	}
	.col-10 {
		width: $column*10;
	}
	.col-11 {
		width: $column*11;
	}
	.col-12 {
		width: $column*12;
	}



}