
html {
	font-size: $rem*0.8;
}

body {
	font: 400 1.6em/1.5 'source sans pro', 'Helvetic Neue', helvetica, arial, sans-serif;
	color: $black;
	background: $offWhite;
}

p {
	max-width: 33em;
}


.section-title {
	margin: 0 0 3.2rem;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}






.text {
	&.sub {
	   color: $muted;
	}
}

@media screen and (min-width: $mobile) {
	html {font-size: $rem;}
}

@media screen and (min-width: $tablet) {
	html {font-size: $rem*1.2;}
}


