
html {
	font-size: $rem*0.8;
}

body {
	font: 400 1.6em/1.5 sans-serif;
	color: $black;
	background: $offWhite;



}



a {
	color: inherit;

	&:hover,
	&:active,
	&:focus {
		color: $green;
	}

	&.no-style {
		text-decoration: none;
		color: inherit;
	}

	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}




p, li, h2, h3 {
	max-width: 33em;
}

strong {
	font-weight: 700;
}


.section-title {
	margin: 0 auto 3.2rem;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}






.text {
	&.sub {
	   color: $muted;
	}

	&.red {
		color: $red;
	}

	&.green {
		color: $green;
	}
}

@media screen and (min-width: $mobile) {
	html {font-size: $rem;}
	body {font-family: 'source sans pro', sans-serif;}
}


@media screen and (min-width: $desktop) {
	html {font-size: $rem*1.2;}
}



