$height: $touchTarget;

.btn {
	display: inline-block;
	height: $height;
	min-width: $height;
	padding: 0 1em;

	border: none;

	color: $white;
	font-weight: 600;
	line-height: $height;
	text-align: center;
	text-decoration: none;

	cursor: pointer;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;



	&.default {

		background: $muted;

		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;


		&:hover,
		&:focus {
			background-color: lighten($muted, 10%);
		}


		&:active {
			background-color: darken($muted, 10%);
		}
	}

	&.red {
		@extend .default;
		background-color: $red;

		&:hover,
		&:focus {
			background-color: lighten($red, 10%);
		}


		&:active {
			background-color: darken($red, 10%);
		}
	}

	&.green {
		@extend .default;
		background-color: $green;

		&:hover,
		&:focus {
			background-color: lighten($green, 10%);
		}


		&:active {
			background-color: darken($green, 10%);
		}
	}

	&.black {
		@extend .default;
		background-color: $black;

		&:hover,
		&:focus {
			background-color: lighten($black, 10%);
		}


		&:active {
			background-color: darken($black, 10%);
		}
	}

	&.stroke-white {
		@extend .default;
		background: transparent;
		border: 2px solid $white;

		line-height: $height - 4;

		&:hover,
		&:focus {
			border:none;
			background: $white;
			color: $green;
			line-height: $height;
		}


		&:active {
			border:none;
			background-color: $mutedGreen;
			color: $green;
			line-height: $height;
		}
	}





	&.no-style {
		background: transparent;
		color: $black;

		&.inverse {
			color: $white;
		}
	}

	&.block {
		width: 100%;
	}


}

@media screen and (min-width: $mobile) {
	.btn.block {
		width: auto;
	}
}